.event-icon-container {
	content:url("https://confluence-tools.swacorp.com/download/attachments/804831601/image2020-2-20_16-11-9.png?version=1&modificationDate=1582557472621&api=v2");
}

.name {

display: none;

}


.event-field.field-duration {

display: none;

}



.lozenge.subcalendar-gray {

width: 0px;
height: 0px;
opacity: 0;

}


.group-headline {
filter: brightness(.6);
}

.threedots_ellipsis {

width: 0px;
height: 0px;
opacity: 0;

}


.event-subcalendar.subcalendar-gray{

width: 0px;
height: 0px;
opacity: 0;

}


.event-subcalendar-name {

width: 0px;
height: 0px;
opacity: 0;

}

 .other-days {

width: 0px;
height: 0px;
opacity: 0;

}


.aui-toolbar2-primary.today-toolbar {

width: 0px;
height: 0px;
opacity: 0;

}

.metadata-summary-macro[data-total-pages="0"] .tablesorter-header-inner::after {

content: "s currently unavailable. User must be logged in to view this content.";
 
}



.smallIcon {

font-size: 11px;

}



#inline {

display: inline-block;

}



#popular-table tr:nth-child(1) {

display : none;}


#colorBackground {

border-left: 6px solid #304cb2;
padding: 8px;
background-color: #dee5f5;

}

.menu-item.active-tab {

border-left: 6px solid #304cb2;
background-color: #dee5f5!important;
font-weight: bold;
font-size: 14px;

}



.menu-item:hover {

border-left: 6px solid #304cb2;
font-weight: regular;
font-size: 14px;
background-color: #eeeeee;

}

.menu-item {

font-weight: regular;
font-size: 14px;
background-color: #eeeeee !important;
margin: 1px;
 }


.bigTextL {

font-family: 'Ubuntu', sans-serif;
font-size: 34px;
color: #304cb2;
font-weight: 900;
 margin: auto;

}

.smallText {

font-family: 'Ubuntu', sans-serif;
font-size: 28px;
color: #304cb2;
font-weight: 900;

}


.smallerText {

font-family: 'Ubuntu', sans-serif;
font-size: 20px;
color: #304cb2;
font-weight: 500;

 

}


.smallerText2 {

font-family: 'Raleway', sans-serif;
font-style: italic;
 font-size: 14px;
color: #304cb2;
font-weight: 500;

 

}


h5 {

font-family: 'Ubuntu', sans-serif;
font-size: 20px !important!
color: #304cb2 !important!
font-weight: light;

 

}


.helpText{

font-family: 'Ubuntu', sans-serif;
font-size: 14px;
color: #3951a3;
font-weight: light;
border-bottom: 1px dotted;
vertical-align: bottom;
 }




 .niceText {

font-family: 'Ubuntu', sans-serif;
font-size: 35px;
color: #3951a3;
font-weight: Bold;
line-height: 100%;


}

.pagetitle.with-breadcrumbs {

height: 1px;
opacity: 0;

}

page-metadata-modification-info {

height: 1px;
opacity: 0;

}

.page-metadata {

opacity: 0;

}

.button {
  background-color: #304CB2;
  border: none;

 color: #ffffff;
  padding: 12px 30px;
  text-align: center;
  
text-decoration: none;
  display: inline-block;
  font-size: 15px;
display: block;
width: 55%;
border: 1px solid #304687;
 margin: auto;



}

.button:hover {
  
background-color: #1a2c80;
  color: white;

  display: block;
width: 55%;
 margin: auto;

}

.button2 {
  background-color: #304CB2;
  border: none;

 color: #ffffff;
  padding: 12px 30px;
  text-align: center;
  
text-decoration: none;
  display: inline-block;
  font-size: 12px;
display: block;
width: 40%;
border: 1px solid #304687;
 margin: auto;



}

.button2:hover {
  
  background-color: #1a2c80; 
  border: none;

 color: #ffffff;
  padding: 12px 30px;
  text-align: center;
  
text-decoration: none;
  display: inline-block;
  ffont-size: 12px;
display: block;
width: 40%;
border: 1px solid #304687;
 margin: auto;

}

.block1 {

  width: 80%;

 
}


.block2 {
display: block;
  margin: auto;
  width: 50%;
display: flex;
  flex-direction: row;
  justify-content: center;
}

.block3 {
display: inline-block;
  
  justify-content: center;
align: center;
width: 80% 

}

#pleaseWork {align:center;}


 .niceText2 {

font-family: 'Ubuntu', sans-serif;
font-size: 26px;
color: #3951a3;
font-weight: Bold;
line-height: 100%;


} 

.center1 {

display:block;
margin: auto;

}


#cybersecbutton {


align: center;
align: center;align: center;align: center;align: center;align: center;align: center;align: center;align: center;align: center;align: center;align: center;align: center;
margin: 8px;
padding: 15px;
text-align: center;
height: 100%;
font-size: 15px;
background-color: #304CB2;
display: block;
  margin: auto;
  width: 70%;
display: flex;
  flex-direction: row;
  justify-content: center;
 }

.topnav {
  background-color: #304CB2;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #304CB2;
  font-family: inherit;
  margin: 0;
}


.topnav a:hover, .subnav:hover .subnavbtn {
  background-color: #1a2c80;

}

.subnav-content {
  display: none;
  position: absolute;
  left: 40px;
  background-color: #6b708a;
	color: white;
  width: 100%;
  z-index: 1;
font-color: white;
width: 85%;
   }


.subnav-content a {
  float: left;
  font-color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #1a2c80;
  color: white;
}


 /* Add a color to the active/current link */
.topnav a.active {
  background-color: #1a2c80;
  color: white;
}

.subnav:hover .subnav-content {
  display: block;
}

.swing
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 2;
        animation-iteration-count: 2;

 }



@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
